#top img {
  width: 100%;
  height: 600px;
  margin-bottom: 70px;
}

#top h1 {
  position: absolute;
  top: 96px;
  left: 55px;
  font-size: 115px;
  font-family: Chalkboard;
}

#top h1 a {
  color: white;
  text-decoration: none;
}

#top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 20px;
  right: 35px;
}

#top li {
  list-style: none;
  margin-left: 35px;
}

#top li a {
  color: white;
  text-decoration: none;
}

#top li a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

#menu-wrapper .title {
  width: 100%;
  height: 220px;
  background-image: url(img/nathan-dumlao-XOhI_kW_TaM-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading {
  color: white;
  font-family: Chalkboard;
  font-size: 72px;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  margin: 50px auto;
}

.menu-item .sandwitch {
  margin-left: 0;
  margin-right: 90px;
}

.menu-item .menu {
  width: 50%;
  text-align: center;
}

.menu-item .menu h3 {
  display: inline-block;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 26px;
  border-bottom: 5px solid #E03131;
}

.menu-item .menu .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.menu-item .menu .price dt {
  width: 91%;
  text-align: left;
  border-bottom: 1px dotted black;
  font-size: 16px;
}

.menu-item .menu .price dd {
  width: 8%;
  text-align: right;
}

.menu-item img {
  width: 45%;
  height: 300px;
  margin-top: 90px;
  margin-left: 90px;
  margin-bottom: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

#about-wrapper .title {
  width: 100%;
  height: 220px;
  background-image: url(img/karl-chor-UvWlksgZGPE-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-wrapper .center {
  text-align: center;
}

#about-wrapper h3 {
  display: inline-block;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 26px;
  border-bottom: 5px solid #E03131;
}

#about-wrapper .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: 0 auto;
}

#about-wrapper .about-container .text {
  width: 40%;
  margin-right: 64px;
  margin-top: 30px;
}

#about-wrapper .about-container .text p {
  margin-bottom: 70px;
  font-size: 15px;
}

#about-wrapper .about-container .about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

#about-wrapper .about-container .about-img .first {
  margin-bottom: 45px;
  margin-right: 100px;
}

#about-wrapper .about-container .about-img .second {
  margin-left: 100px;
}

#about-wrapper .about-container .about-img img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

#about-wrapper #read {
  position: relative;
  padding: 15px 45px;
  width: 140px;
  margin: 30px auto 120px;
}

#about-wrapper #read::before {
  position: absolute;
  content: ' ';
  width: 30px;
  height: 25px;
  top: 0;
  left: 0;
  border-left: 2px solid #E03131;
  border-top: 2px solid #E03131;
}

#about-wrapper #read::after {
  position: absolute;
  content: ' ';
  width: 30px;
  height: 25px;
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #E03131;
  border-right: 2px solid #E03131;
}

#about-wrapper #read a {
  text-decoration: none;
  color: black;
}

#about-wrapper #read:hover::before {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#about-wrapper #read:hover::after {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#location-wrapper .title {
  width: 100%;
  height: 220px;
  background-image: url(img/kris-atomic-3b2tADGAWnU-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#location-wrapper .center {
  text-align: center;
}

#location-wrapper h3 {
  display: inline-block;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 26px;
  border-bottom: 5px solid #E03131;
}

#location-wrapper .ggmap {
  width: 80%;
  margin: 50px auto 30px;
}

#location-wrapper .address-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

#location-wrapper img {
  width: 45%;
  height: 240px;
  margin-bottom: 100px;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}

footer a {
  text-decoration: none;
  color: #02abee;
}

footer:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */